.container{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
  
  }
  
  h1,h2,h3,h4,h5,h6{
    font-weight: 900;
    color: #fff;
  }
  
  section.module p {
    margin-bottom: 40px;
    color: #fff;
  }
  
  section.module:last-child{
    margin-bottom: 0;
  }
  
  section.module h2 {
    margin-bottom: 40px;
    font-size: 30px;
  
  }
  
  section.module.content {
    padding: 40px 0;
    background-color: rgb(0, 0, 0);
  }
  
  section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover ;
    -o-background-size: cover ;
    border-top: 1px solid rgb(5, 5, 5);
    
  
  }
  
  section.module.parallax:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 30%, #000 100%);
  }
  
  section.module.parallax-1{
    background-image: url(./../../images/Banner.png);
    
  }

  
  h1.fundo1{
    width: 100%;
    position: absolute;
    top: 120px;
    color: #fff;
    opacity: 7%;
    font-size: max(150px, 10vw);
    text-transform: uppercase;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    letter-spacing: 0;
    word-spacing: 1.2px;

  }

  h1.fundo2{
    width: 100%;
    position: absolute;
    top: 300px;
    left: 200px;
    color: #fff;
    opacity: 7%;
    font-size: max(120px, 13vw);
    text-transform: uppercase;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    letter-spacing: -5px;
    word-spacing: 1.2px;
  }

  h4.fundo3{
    width: 30%;
    position: relative;
    color: #fff;
    left: 50px;
    align-items: center;
    font-size: min(50px, 3vw);
    text-transform: uppercase;
    transition: 0.5s;
  }

  h6.fundo4{
    position: absolute;
    top: 660px;
    left: 20px;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;

  }

  .effect{
    content: " ";
    position: absolute;
    top: 700px;
    left: 20px;
    background-color: #fff;
    color: #fff;
    width: 200px;
    height: 2px;
  }



  @media only screen and (max-width: 1024px) {
    h4.fundo3{
      width: 50%;
      position: relative;
      color: #fff;
      top: 200px;
      left: 50px;
      align-items: center;
      font-size: 4.5vw;
      transition: 0.5s;
      text-transform: uppercase;
    }
  }