
.button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cssbuttons-io-button {
  background: #00000093;
  color: #ffffffe3;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  z-index: 99999;
  cursor: pointer;
  text-transform: uppercase;
 }
 
 .cssbuttons-io-button .icon {
  background: rgba(255, 255, 255, 0.623);
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  right: 0.3em;
  transition: all 0.6s;
 }
 
 .cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
  background-color: rgb(255, 255, 255);
  
 }
 
 .cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #07070798;
 }
 
 .cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
 }
 
 .cssbuttons-io-button:active .icon {
  transform: scale(0.95);
 }
 