.fotoEvento {
    width: 25vh;
}
.blog {
    margin-top:10vh;
    margin-bottom:10vh;
}

.blogEventos {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

