
.Api-site{
    width: 100%;
    height: fit-content;
    display: inline-block;
    margin-top: 50px;

}


.Tatuador {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tatuador-foto{
    width: 45%;
    border: 10px solid #fff;
}

.tatuador-card{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  #fff;
    color: #000000;
}

.tatList {
justify-content: center;
margin-top: 50px;
display:grid;
gap: 50px;
grid-template-columns: 33.5% 33.5% 33.5%
}


.txt-api{
    display: flex;
    justify-content: center;
}

.Tatuadores {
    background-color: #f0d22a;
    border-bottom: 2px solid #fff;
    color: #000000;
    padding: 5px 10px 5px 10px;
}

h2.tatuador-nome {
    color: #000000 ;
}

.tatuador-sobre {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000000 ;
}


@media (max-width: 1093px) {
    .Api-site{
        height: fit-content;
        width: 100%;
    }


    .tatList {
    display:grid;
    gap: 50px;
    grid-template-columns: 50% 50%;
    }
}


@media (max-width: 619px) {


    .tatList {
    display:grid;
    gap: 50px;
    grid-template-columns: 100%;
    }
}
