
.Api-site{
    width: 100%;
    height: 30vh;
}


.Tatuador {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


h1.Tatuadores {
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    color: #000000 ;
    background-color: #f0d22a;
}

h2.tatuador-nome {
    color: #ffffff ;
}

p.tatuador-sobre {
    margin-left: -25%;
    color: #ffffff ;
}

@media (max-width: 680px) {
    .Api-site{
        width: 100%;
        height: 50vh;
    }
    

}
