@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.form-completo {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px;
    margin:10px;
    color: azure;


}


.emptyText {
    color: rgb(243, 9, 9);
    font-weight: 900;
}

input {
    width: 225px;
    color: #fff;
    padding: 5px 10px 5px 10px;
    border: 1px solid rgba(58, 57, 57, 0.696);
    background-color: #0f0f0f;
    outline: none;
    transition: 1s;
}


.input:focus{
    border-bottom: 1px solid #f0d22a;
}

textarea, select {
    color: #fff;
    padding: 5px;
    border: 1px solid rgba(58, 57, 57, 0.696);
    background-color: #0f0f0f;
    padding-left: 10px;
}


textarea {
    resize: none;
    width: 80%;
    outline: none;
}

input[type="file"]{
 display: none;
}

.enviar{
    background-color: #f0d22a;
    border: 1px solid #dfded7;
    padding: 5px 10px 5px 10px;
    color: #131313;
    cursor: pointer;
}


.form1, .form2, .form3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    gap: 10px;

}

.form4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    gap: 5px;
}

.botao {
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color:transparent;
    color: #fff;
    font-size: 20px;
    transition: 0.7s;
    cursor: pointer;
}

.botao:hover{
background-color: rgb(240, 194, 45);
border: 1px solid #79600f;
color: #0f0f0f;
}


input::placeholder, textarea::placeholder {
    color: #686868;
    
}



@media (max-width: 680px) {

    .form1,
    .form2,
    .form3,
    .form4 {
        display: flex;
        flex-direction: column;        
    }

    textarea {
        width: 90%;
    }

    .form-completo {
        width:90%;
    }
}