h1, .estilo-nome {
    color: black;
}

.blogEstilos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
}




@media (max-width: 1212px) {
    .blogEstilos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 980px) {
    .blogEstilos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 680px) {
    .blogEstilos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    }
}