
:root {
	--mainColor: #141216;
	--mainColorLight: #1b2a66;
	--secondaryColor: #696969;
	--darkerSecondaryColor: #c99a22;
	--textColor: #eee;
}


header {
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
	z-index: 99999;
	background-color: transparent;
	padding: 0 30px;
}

header.black{
	background-color: var(--mainColor);
	border-bottom: 1px solid #ffffff;
	transition: 0.7s;
}


header.black nav a{
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
	padding-right: 20px;
	font-size: 16px;
	position: relative;
}


header.black nav a:hover{
	color: #808080;
}

header.black nav a::after{
	content: none;
  }


nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
	padding-right: 20px;
	font-size: 16px;
	color: #fff;
	position: relative;
}

nav a:hover{
	color: #696969;
	text-shadow: none;

}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}

li {
	list-style: none;
}

ul {
	
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	ul {
		display: flex;
		flex-direction: column;
	}

	li{
		padding: 20px;
	}

	header nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transform: translateY(-300vw);
        z-index: 999999;
	
	}


	header .responsive_nav {
		transform: none;
		transition: 0.7s;
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
		
	}

	nav a::after{
		content: "";
		width: 0px;
		height: 0px;
	  }

}